* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  background: rgb(9, 3, 108);
  background: linear-gradient(
    90deg,
    rgba(9, 3, 108, 1) 21%,
    rgba(68, 0, 88, 1) 59%,
    rgba(90, 18, 101, 1) 100%
  );
}

.centered-container {
  position: relative;
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

h1 {
  color: #0b3256;
}

.row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
  background: #edeef0;
  gap: 5px;
}

input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
}

button {
  border: none;
  outline: none;
  padding: 10px 10px;
  background: #a5d8ff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

label {
  cursor: pointer;
  font-size: 17px;
  font-weight: 100;
  font-family: fantasy;
  text-shadow: 4px 4px 5px red;
  margin-left: 20px;
}

#delIcon {
  position: absolute;
  right: 70px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  line-height: 40px;
  text-align: center;

  /* Adjust the font size as needed */
  cursor: pointer;
  color: red; /* Set the color to red, change as desired */
}

#delIcon:hover {
  color: darkred; /* Change color on hover, adjust as needed */
}
